@model List<Gear.Models.Country> 

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" class="col-6 mx-auto mt-2">
    <div class="form-group row">
        <div class="col">
            <label>Username</label>
            <input name="username" type="text" class="form-control" />
        </div>
        <div class="col">
            <label>Email</label>
            <input name="email" type="email" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label>Password</label>
            <input name="password" type="password" class="form-control" />
        </div>
        <div class="col">
            <label>Confirm password</label>
            <input name="confirmPassword" type="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Country</label>
        <select name="country" class="form-control mw-100">
            <option value="" disabled selected>Select your country</option>
            @foreach (Gear.Models.Country item in Model)
            {
                <option value="@item.Code">@item.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
</form>