
@{
    ViewBag.Title = "Payment";
}


<h2>Receipt</h2>
<div>
    <div>
        <table class="table table-hover table-striped">
            <tbody>
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Unit Price
                    </th>
                    <th colspan="2">
                        Price
                    </th>
                </tr>
                <tr>
                    <td>
                        <a onclick="window.location.href = '/game/'">Game name</a>
                    </td>
                    <td>
                        Amount
                    </td>
                    <td>
                        Unit Price
                    </td>
                    <td>
                        Total Price
                    </td>
                </tr>
                <tr>
                    <th colspan="3" style="text-align:right;">
                        Total
                    </th>
                    <td>
                        Num
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            Payment method
            <br />
            Payment status
            <br/>
            Amount paid
            <br />
            Amount owed
        </div>
        <div />
    </div>
