
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<hr />
<div style="display:grid; grid-auto-columns:1fr max-content;">
    <div style="grid-row:1;">
        <style>
            .game-list-wrapper {
            }

            .game-list {
                margin-top: 5px;
            }

            .game-list-item {
                display: grid;
                grid-template-columns: max-content 1fr max-content;
                margin: 0px 3px 5px 3px;
                padding: 2px 5px 5px 5px;
                border-bottom: 1px solid rgb(204,204,204,0.7);
            }

                .game-list-item:hover {
                    background-color: rgb(245,245,245);
                }

                .game-list-item .icon-wrapper {
                    max-width: 200px;
                    max-height: 113px;
                }

                    .game-list-item .icon-wrapper .icon {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }

                .game-list-item .info-wrapper {
                    /*grid-area: info;*/
                    display: grid;
                    grid-template-rows: max-content auto max-content;
                    margin-left: 10px;
                    padding-bottom: 2px;
                    white-space: nowrap;
                    overflow: hidden;
                }

                    .game-list-item .info-wrapper .title {
                        font-size: 20px;
                    }

                        .game-list-item .info-wrapper .title:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }

                    .game-list-item .info-wrapper .description {
                        font-size: 15px;
                    }

                    .game-list-item .info-wrapper .tags {
                        font-size: 12px;
                    }

                        .game-list-item .info-wrapper .tags .tag {
                            border: 1px solid rgb(204,204,204);
                            border-radius: 10px;
                            padding: 2px;
                        }

                .game-list-item .cart-wrapper {
                    /*grid-area: cart;*/
                    align-self: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    text-align: center;
                    margin-left: 30px;
                    margin-right: 30px;
                }

                    .game-list-item .cart-wrapper .price {
                        grid-row: 1;
                        grid-column: 2;
                        margin-left: 2px;
                    }

                    .game-list-item .cart-wrapper .discount {
                        grid-row: 1;
                        grid-column: 1;
                        margin-right: 2px;
                        background-color: lightgreen;
                        border-radius: 3px;
                    }

                    .game-list-item .cart-wrapper .cart-button {
                        grid-row: 2;
                        grid-column: 1/-1;
                    }
        </style>
        @for (int i = 0; i < 3; i++)
        {
            <div class="game-list-item">
                <div class="icon-wrapper">
                    <img class="icon" onclick="window.location.href = '/game/'" src="../@(Model.Pupular[0].Picture.Directory)">
                </div>
                <div class="info-wrapper">
                    <div class="title" onclick="window.location.href = '/game/'">@(Model.Pupular[0].Game.Name)</div>
                    <div class="description">@(Model.Pupular[0].Game.Description) popular tab</div>
                    <div class="tags">
                        <a class="tag">Tag 1</a>
                        <a class="tag">Tag 2</a>
                        <a class="tag">Tag 3</a>
                    </div>
                </div>
                <div class="cart-wrapper">
                    <div class="price">10.99 $</div>
                    <div class="discount">100%</div>
                    <div class="cart-button"><a class="button">+ To cart</a></div>
                </div>
            </div>
        }
    </div>
    <div style="grid-row:1;padding-left:5px;border-left:1px solid gray">
        <div>Search</div>
        <input type="text" placeholder="Input search tags"/>
        <ul style="list-style-type:none;padding:0px;">
            <li><a>+</a> <a>Tag1</a></li>
            <li><a>+</a> <a>Tag2</a></li>
            <li><a>+</a> <a>Tag3</a></li>
            <li><a>+</a> <a>Tag4</a></li>
        </ul>
    </div>
</div>
