
@{
    ViewBag.Title = "BecomingCreator";
}
<style>
    input{
        margin-top: 2px;
        display:block;
        justify-self:center;
    }
</style>


<form style="margin-top:5px; display:grid;" method="post">
    <input class="form-control" type="text" name="name" placeholder="Developer Studio"/>
    <input class="form-control" type="text" name="website"placeholder="Developer Websiate" />
    <button class="btn btn-block" type="submit">Become</button>
</form>