
@{
    ViewBag.Title = "BecomingCreator";
}



<form>
    <h3>Developer name:</h3>
    <input type="text" name="gamename">
    <h4>Website</h4>
    <input type="text" name="gamename">
    <input type="submit" value="Become a developer">
</form>