
@{
    ViewBag.Title = "Add";
}

<style>

    input[type=text], input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    form{
        max-width:500px;
        width:500px;
    }
    
</style>


    <form>
        <h3>Title:</h3>
        <input class="myInput" type="text" name="gamename">
        <h4>Game discription:</h4>
        <textarea name="message" style="width:300px; height:100px">
    </textarea>
        <h4>Add photos:</h4>
        <input type="file" name="pic" accept="image/*">
        <h4>Link a youtube trailer:</h4>
        <input type="text" name="trailer">
        <h4>Version:</h4>
        <input type="text" name="version">
        <h4>Genre</h4>
        <div class="select">
            <select name="genre" id="genre">
                <option data-value="none" data-selectable="" class="option selected">No genre</option>
                <option data-value="action" data-selectable="" class="option">Action</option>
                <option data-value="adventure" data-selectable="" class="option">Adventure</option>
                <option data-value="card-game" data-selectable="" class="option">Card Game</option>
                <option data-value="educational" data-selectable="" class="option">Educational</option>
                <option data-value="fighting" data-selectable="" class="option">Fighting</option>
                <option data-value="interactive-fiction" data-selectable="" class="option">Interactive Fiction</option>
                <option data-value="platformer" data-selectable="" class="option">Platformer</option>
                <option data-value="puzzle" data-selectable="" class="option">Puzzle</option>
                <option data-value="racing" data-selectable="" class="option">Racing</option>
                <option data-value="rhythm" data-selectable="" class="option">Rhythm</option>
                <option data-value="rpg" data-selectable="" class="option">Role Playing</option>
                <option data-value="shooter" data-selectable="" class="option">Shooter</option>
                <option data-value="simulation" data-selectable="" class="option">Simulation</option>
                <option data-value="sports" data-selectable="" class="option">Sports</option>
                <option data-value="strategy" data-selectable="" class="option">Strategy</option>
                <option data-value="survival" data-selectable="" class="option">Survival</option>
                <option data-value="visual-novel" data-selectable="" class="option">Visual Novel</option>
                <option data-value="other" data-selectable="" class="option">Other</option>
            </select>
        </div>
        <h4>Age restriction:</h4>
        <input type="number" min="0.00" max="10000.00" step="1" />
        <h4>Instalation files:</h4>
        <input type="file" id="myFile">
        <br>
        <h4>Pricing</h4>
        <input type="number" min="0.00" max="10000.00" step="0.01" />

        <br>
        <input type="submit" value="Submit game">
    </form>



