@model Gear.Models.Game
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .image-showcase {
        height: 394px;
        width: 700px;
        margin-bottom: 5px;
    }

    /*Sensitive values for width and height*/
    .image-menu {
        height: 125px;
        width: 700px;
        overflow: auto;
        white-space: nowrap;
    }

        .image-menu img {
            margin-top: 5px;
            width: 172px;
            height: 97px;
            cursor: pointer;
        }

    .info-text {
    }

    .video-player {
        position: relative;
        width: 460px;
        height: 259px;
    }

    .content-head {
        display: grid;
        grid-auto-columns: auto;
    }

    .image-wrapper {
        grid-column: 1;
    }

    .video-player-wrapper {
        grid-column: 2;
        text-align: right;
    }

    .cart-button-wrapper {
        border-radius: 5px;
        background-color: black;
    }

        .cart-button-wrapper span {
            font-size: 15px;
            color: white;
            margin: 5px;
        }

        .cart-button-wrapper input {
            margin: 2px;
        }

    .info-wrapper {
        display: grid;
    }

    .info-developer {
        grid-column: 1;
    }

    .cart-button-wrapper {
        grid-column: 2;
        align-self: flex-start;
        justify-self: flex-end;
        margin-right: 3px;
    }

    .info-extensive {
        grid-column: 1/3;
    }

    .comment-grid {
        display: grid;
        max-width: 700px;
        grid-template-columns: auto auto;
    }

    .comment-write {
        grid-column: 1;
        max-width: 700px;
        width: 700px;
        height: 150px;
        resize: none;
        margin-top: 10px;
    }

    .comment-display {
        grid-column: 2;
    }

    .comment-rating-display {
        grid-column: 1;
        border: none;
    }

        .comment-rating-display > label:before {
            margin: 5px;
            font-size: 2.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
            color: #ddd;
        }

    .user-profile-image {
        grid-column: 1;
        grid-row: 1 / span 3;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .post-button {
        grid-column: 1;
        width: 70px;
        height: 35px;
        margin-top: 5px;
        justify-self: flex-end;
    }



    /****** Style Star Rating Widget *****/

    .rating {
        border: none;
        justify-self: flex-start;
        margin-left: -270px;
        margin-top: -2px;
    }

        .rating > input {
            display: none;
        }

        .rating > label:before {
            margin: 5px;
            font-size: 2.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #FFD700;
        }
            /* hover previous stars in list */

            .rating > input:checked + label:hover, /* hover current star when changing rating */
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
            .rating > input:checked ~ label:hover ~ label {
                color: #FFED85;
            }






    .rating-comment {
        grid-column: 2;
        border: none;
        height: 25px;
    }

        .rating-comment > label:before {
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

    .rating-comment-empty {
        color: #ddd;
    }

    .rating-comment-full {
        color: #FFD700;
    }


    .rating-review {
        grid-column: 2;
        border: none;
        height: 25px;
        margin-top: -5px;
    }

        .rating-review > label:before {
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

    .rating-review-empty {
        color: #ddd;
    }

    .rating-review-full {
        color: #FFD700;
    }

    .rating-text {
        grid-column: 1;
        grid-row: 1 / span 6;
        margin-top: 20px;
    }

    .rating-grid {
        grid-column: 1;
        max-width: 700px;
        display: grid;
        grid-template-columns: 20% 80%;
        margin-top: -20px;
    }

    .reply-button {
        grid-column: 2;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        width: 60px;
        font-weight: bold;
        color: #4f4f4f;
    }

        .reply-button:hover {
            grid-column: 2;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            width: 60px;
            font-weight: bold;
            color: black;
        }

    .date {
        color: #4f4f4f;
        font-weight: bold;
        font-size: 9pt;
    }
</style>

<script type="text/javascript">

    function showImage(imgPath) {
        var curImage = document.getElementById('currentImg');
        curImage.src = imgPath;
        curImage.alt = imgPath;
    }


    function getId(url) {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);

        if (match && match[2].length == 11) {
            return match[2];
        } else {
            return 'error';
        }
    }

</script>


<h2>@Model.Name</h2>
<div class="content-head">
    <div class="image-wrapper">
        <img class="image-showcase" id="currentImg" src="~/Content/images/witcher.jpg" alt="witcher.jpg" title="Witcher">

        <div class="image-menu">
            <img src="~/Content/images/witcher.jpg" onclick="showImage('../Content/images/witcher.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher1.jpg" onclick="showImage('../Content/images/witcher1.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher2.jpg" onclick="showImage('../Content/images/witcher2.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher3.jpg" onclick="showImage('../Content/images/witcher3.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher4.jpg" onclick="showImage('../Content/images/witcher4.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher5.jpg" onclick="showImage('../Content/images/witcher5.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher6.jpg" onclick="showImage('../Content/images/witcher6.jpg');" data-pin-nopin="true">
            <img src="~/Content/images/witcher7.jpg" onclick="showImage('../Content/images/witcher7.jpg');" data-pin-nopin="true">
        </div>
    </div>
    <div class="video-player-wrapper">
        <iframe class="video-player" onload="this.onload=null; this.src='//www.youtube.com/embed/' + getId('https://www.youtube.com/embed/XHrskkHf958');" allowfullscreen></iframe>
        <iframe class="video-player" src="https://player.twitch.tv/?channel=pjt_gaming" allowfullscreen></iframe>
    </div>

    <div class="info-wrapper">
        <div class="info-developer">
            <span class="info-text"> Developer:</span><br>
            <span class="info-text"> Relese date:</span><br>
            <span class="info-text"> Average score:</span><br>
            <span class="info-text"> Tags:</span><br>
        </div>
        <div class="cart-button-wrapper">
            <span>30€</span>
            <input class="cart-button" id="add-to-cart" type="button" value="Add to Cart" />
        </div>
        <div class="info-extensive">
            <h1>About Game:</h1>
            <span>@Model.Description</span><br><br>
        </div>




        @*<span class="info-text"> 5 star: </span><br>
            <span class="info-text"> 4 star: </span><br>
            <span class="info-text"> 3 star: </span><br>
            <span class="info-text"> 2 star: </span><br>
            <span class="info-text"> 1 star: </span><br>
            <span class="info-text"> Average score:</span><br>
            <span class="info-text"> Reviews:</span><br><br>*@
    </div>

    <h1 style="grid-column: 1;">Recomended games:</h1>



    <h1 style="grid-column: 1;">Reviews:</h1>
    <div class="rating-grid">

        <center class="rating-text">
            <font size="40">4.75</font>
            <span>74896456 reviews</span>
        </center><br>
        <div class="rating-review">
            <label class="rating-review-full" for="star1" title="1 stars"> </label>
            <label class="rating-review-full" for="star2" title="2 stars"> </label>
            <label class="rating-review-full" for="star3" title="3 stars"> </label>
            <label class="rating-review-full" for="star4" title="4 stars"> </label>
            <label class="rating-review-full" for="star5" title="5 stars"> </label>

            <span>7367378</span>

        </div>

        <div class="rating-review">
            <label class="rating-review-full" for="star1" title="1 stars"> </label>
            <label class="rating-review-full" for="star2" title="2 stars"> </label>
            <label class="rating-review-full" for="star3" title="3 stars"> </label>
            <label class="rating-review-full" for="star4" title="4 stars"> </label>
            <label class="rating-review-empty" for="star5" title="5 stars"> </label>
            <span>24524</span>
        </div>




        <div class="rating-review">
            <label class="rating-review-full" for="star1" title="1 stars"> </label>
            <label class="rating-review-full" for="star2" title="2 stars"> </label>
            <label class="rating-review-full" for="star3" title="3 stars"> </label>
            <label class="rating-review-empty" for="star4" title="4 stars"> </label>
            <label class="rating-review-empty" for="star5" title="5 stars"> </label>
            <span>78325</span>
        </div>

        <div class="rating-review">
            <label class="rating-review-full" for="star1" title="1 stars"> </label>
            <label class="rating-review-full" for="star2" title="2 stars"> </label>
            <label class="rating-review-empty" for="star3" title="3 stars"> </label>
            <label class="rating-review-empty" for="star4" title="4 stars"> </label>
            <label class="rating-review-empty" for="star5" title="5 stars"> </label>
            <span>275272</span>
        </div>

        <div class="rating-review">
            <label class="rating-review-full" for="star1" title="1 stars"> </label>
            <label class="rating-review-empty" for="star2" title="2 stars"> </label>
            <label class="rating-review-empty" for="star3" title="3 stars"> </label>
            <label class="rating-review-empty" for="star4" title="4 stars"> </label>
            <label class="rating-review-empty" for="star5" title="5 stars"> </label>
            <span>54645</span>
        </div>


    </div>


    <textarea class="comment-write" placeholder="start writing review here"></textarea>
    <input class="post-button" id="post" type="button" value="Post" />
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="1 star"></label>
    </fieldset>

    <div class="comment-grid">
        <img class="user-profile-image" src="~/Content/images/user.jpg" alt="witcher.jpg" title="Witcher">

        <div class="rating-comment">
            <b><span class="comment-display"> Vartotojas 1</span></b>

            <label class="rating-comment-full" for="star1" title="1 stars"> </label>
            <label class="rating-comment-full" for="star2" title="2 stars"> </label>
            <label class="rating-comment-full" for="star3" title="3 stars"> </label>
            <label class="rating-comment-full" for="star4" title="4 stars"> </label>
            <label class="rating-comment-empty" for="star5" title="5 stars"> </label>
        </div>

        <span class="date"> 2018-10-29 </span>
        <span class="comment-display">Cia yra labai labai labai labai labai labai labai labai labai labai labai labai ilgas ilgas pirmo vartotojo komentaras</span>
        <input class="reply-button" id="reply" type="button" value="Reply" /><br>
    </div>

    <br>

    <div class="comment-grid" style="margin-left: 50px;">
        <img class="user-profile-image" src="~/Content/images/user.jpg" alt="witcher.jpg" title="Witcher">

        <div class="rating-comment">
            <b><span class="comment-display"> Vartotojas 2</span></b>

            <label class="rating-comment-full" for="star1" title="1 stars"> </label>
            <label class="rating-comment-full" for="star2" title="2 stars"> </label>
            <label class="rating-comment-full" for="star3" title="3 stars"> </label>
            <label class="rating-comment-empty" for="star4" title="4 stars"> </label>
            <label class="rating-comment-empty" for="star5" title="5 stars"> </label>
        </div>

        <span class="date"> 2018-10-30 </span>
        <span class="comment-display">Cia yra atsakymas i labai labai labai labai labai labai labai labai labai labai labai labai ilga pirmo vartotojo komentara</span>
        <input class="reply-button" id="reply" type="button" value="Reply" />
    </div>


</div>

<!--Naudoti jei nebereik grid-->
<div class="content-tail">

</div>





